/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";

$rag_green: #35b15a;
$rag_amber: #E0AB18;
$font-fam-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import "top_bar";

body {
    font-family: $font-fam-sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.project {
    width: 440px;
    height: 180px;
    position: relative;
    border: 1px solid rgb(141, 154, 165);
    border-radius: 4px;
    font-size: 1rem;
}

.project, ul {
    margin-bottom: 20px;
}

.rag_green {
    border-top: 5px solid $rag_green;
}

.details {
    padding: 1.25rem 200px 1.25rem 1.25rem;
    height: 100%;
    box-sizing: border-box;

    h1 {
        line-height: 1.5em;
        color: rgb(56, 64, 71);
        font-weight: bold;
        font-size: 1.125rem;
    }
}

.origin {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #eee;
    border-radius: 2px;
    font-size: 0.75rem;

    a {
        color: #ccc;
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem;
    }
}

.owners {
    position: absolute;
    width: 140px;
    right: 0;
    top: 0;
    padding: 1.25rem;
    border-left: 1px solid #ccc;

    div {
        height: 70px;

        span {
            line-height: 1.6875rem;
        }
    }
}

.subtitle {
    text-transform: uppercase;
    color: grey;
    font-size: 0.75em;
    font-weight: 500;
}

.clearfix {
    @include pie-clearfix;
}

.rag-status li a {
    text-indent: -9999px;
    float: left;
    width: 40px;
    height: 20px;

    &:hover,
    &.current {
        -webkit-transform: scale(1.4);
        box-shadow : 1px 1px 2px rgba(0,0,0,.3);
    }
}

a[href*="red"] { background-color : #c33; }
a[href*="amber"] { background-color : $rag_amber; }
a[href*="green"] { background-color : $rag_green; }

.filteredout {
    border: none;
    background: #eee;

    h1, span {
        color: grey;
    }
    .subtitle {
        color: #fff;
    }
}

@import "footer";
