/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// temporary styling
body {
    width: 960px;
    margin: 20px auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.project {
    width: 440px;
    height: 180px;
    position: relative;
    border: 1px solid rgb(141, 154, 165);
    border-radius: 4px;
    font-size: 1rem;
}

.details {
    padding: 1.25rem 200px 1.25rem 1.25rem;
    height: 100%;
    box-sizing: border-box;

    h1 {
        line-height: 1.5em;
        color: rgb(56, 64, 71);
        font-weight: bold;
        font-size: 1.125rem;
    }
}

.origin {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #eee;
    border-radius: 2px;
    font-size: 0.75rem;

    a {
        color: #ccc;
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem;
    }
}

.owners {
    position: absolute;
    width: 140px;
    right: 0;
    top: 0;
    padding: 1.25rem;
    border-left: 1px solid #ccc;

    div {
        height: 70px;

        span {
            line-height: 1.6875rem;
        }
    }
}

.subtitle {
    text-transform: uppercase;
    color: grey;
    font-size: 0.75em;
    font-weight: 500;
}
